 @import url('https://fonts.googleapis.com/css?family=Raleway');

a:link {
    	text-decoration: none;
       	color: #286FB4;  /*old rgb(0,0,153) */
	}

a:visited {
        color: #286FB4; /*old rgb(0,0,153) */
        }
	
a:hover {
	color: #DF4C73;	/*old rgb(128,0,128) */
	}

body { 
	font-family: "Raleway", Geneva, Verdana, Arial; 	/* Add font here if using Google Fonts */ 
	background-color: #FFFFFF; /* old: #EFEFEF */
	padding: 16px;
	}

h1 {
	background-color: #B0DDE4; /* old: #3C3C3C */ 
	padding: 10px;
	color: rgb(0, 0, 0); /* old: rgb(255, 255, 255) */
	border-radius: 5px;
	}

h2 {
	background-color: #B0DDE4; /* old: #3C3C3C */ 
	padding: 10px;
	color: rgb(0, 0, 0); /* old: rgb(255, 255, 255) */
	border-radius: 5px;
	}

h3 {
	padding: 0px 10px;
	}

p {
	padding-left: 20px;
	padding-right: 20px;
	}

ol li {
	padding-bottom: 15px;
     	}

ul li {
	padding-bottom: 10px;
	}

br {
    display: block;
    content: " ";
    margin-bottom: 0.2em;
    }

sub {
    line-height: 0;
}

sup {
    line-height: 0;
}

header, section, footer, aside, article, figure {
	display: block;
	}

/* Navigation bar */
/* Desktop style */

.nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: #B0DDE4; /* old #3C3C3C */
     	}

.nav ul li {
	float: left;
	padding-bottom: 0px;
	border-right: 1px solid #bbb;
	}

.nav li a {
	display: block;
	color: black;  /* old white */
	padding: 10px 16px;
	text-align: center;	
	}

.nav li a:link {
	color: black;		/* Change default link color to black */
	}

.nav li a:visited {
	color: black;		/* Change default link color to black */  
	}

.nav li a:hover {
        background-color: #286FB4; /* old 111 */
        }

.active {
        background-color: #286FB4; /* old rgb(0, 0, 153) */
        } 

/* End Navigation bar */

/* Navigation bar */
/* Mobile style */

header {
        width: 100%;
        left: 0;
        top: 0;
        position: fixed;
        } 

footer {
	background-color: #B0DDE4; /* old #3C3C3C */
	color: black;  /* old: white */
	left: 0;
	bottom: 0;
	padding: 0px 20px 0px 10px;
	right: 0;
	/*width: 100%;*/
	position: fixed;	
	}

footer a:link {
	color: black; /* old: white */
	}

footer a:visited {
	color: black; /* old: white */
	}

#content {
	margin-top: 30px;
	}

/* Column layout for index webpage */

.wrapper {
	width: 100%;
	overflow: hidden;
	}

.column1of2 {
	float: left;
	width: 75%;
	}

.column2of2 {
	float: right;
	width: 15%;
	}

/* Photo for index webpage */

.photo {
	width: 85%;
	padding: 1px;
	border: 2px solid #286FB4;
	}

/* Footer, legal notice */

.legal {
	float: right;
	}

/* Inline icon position in line */    

.inline-icon {
    height: 1.15em;
    vertical-align: top;
    }

/* Style for button in publication list, shows abstract and bibTeX on-click */

.show-button {
    font-family: "Raleway", Geneva, Verdana;
    text-decoration: none;
    padding: 0;
    border: none;
    background: none;
    color: #286FB4; /* old rgb(0,0,153) */
    cursor: pointer;
    }

.abstract {
    width: 600px;
    text-align: justify;
    }

button:hover{
	color: #DF4C73; /* old rgb(128,0,128) */	
    }

/* Style for text in the news section */
ul.news li {
    width: 80%;
    text-align: justify;
    line-height: 1.35;         /* spacing inside wrapped lines */
    padding-bottom: 0px;        /* override global */
    margin-bottom: 10px;       /* control separation between items */
    }

/* Mobile media css style, super-simple restyling */

@media only screen and (max-width: 768px) {

    .abstract {
        width: 95%;
        text-align: justify;
        }

    .column1of2 {
	    float: left;
	    width: 100%;
	    }

    .column2of2 {
        float: right;
	    width: 100%;
	    }

}

/* Divide container in two columns */

.nested-column {
    width: 30%;
    float: left;
}
