 @import url('https://fonts.googleapis.com/css?family=Raleway');

a:link {
    	text-decoration: none;
       	color: rgb(0,0,153);
	}

a:visited {
        color: rgb(0,0,153);
        }
	
a:hover {
	color: rgb(128,0,128);	
	}

body { 
	font-family: "Raleway", Geneva, Verdana, Arial; 	/* Add font here if using Google Fonts */ 
	background-color: rgb(255,255,255);
	padding: 16px;
	}

h1 {
	background-color: #3C3C3C; 
	padding: 10px;
	color: rgb(255,255,255);
	border-radius: 5px;
	}

h2 {
	background-color: #3C3C3C; 
	padding: 10px;
	color: rgb(255,255,255);
	border-radius: 5px;
	}

h3 {
	padding: 0px 10px;
	}

p {
	padding-left: 20px;
	padding-right: 20px;
	}

ol li {
	padding-bottom: 15px;
     	}

ul li {
	padding-bottom: 10px;
	}

br {
    display: block;
    content: " ";
    margin-bottom: 0.2em;
    }

sub {
    line-height: 0;
}

sup {
    line-height: 0;
}


header, section, footer, aside, article, figure {
	display: block;
	}

/* Navigation bar */
/* Desktop style */

.nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: #3C3C3C;
     	}

.nav ul li {
	float: left;
	padding-bottom: 0px;
	border-right: 1px solid #bbb;
	}

.nav li a {
	display: block;
	color: white;
	padding: 10px 16px;
	text-align: center;	
	}

.nav li a:link {
	color: white;		/* Change default link color to white */
	}

.nav li a:visited {
	color: white;		/* Change default link color to white */  
	}

.nav li a:hover {
        background-color: #111;
        }

.active {
        background-color: rgb(0,0,153);
        } 

/* End Navigation bar */

/* Navigation bar */
/* Mobile style */

header {
        width: 100%;
        left: 0;
        top: 0;
        position: fixed;
        } 

footer {
	background-color: #3C3C3C;
	color: white;
	left: 0;
	bottom: 0;
	padding: 0px 20px 0px 10px;
	right: 0;
	/*width: 100%;*/
	position: fixed;	
	}

footer a:link {
	color: white;
	}

footer a:visited {
	color: white;
	}

#content {
	margin-top: 30px;
	}

/* Column layout for index webpage */

.wrapper {
	width: 100%;
	overflow: hidden;
	}

.column1of2 {
	float: left;
	width: 75%;
	}

.column2of2 {
	float: right;
	width: 15%;
	}

/* Photo for index webpage */

.photo {
	width: 75%;
	padding: 1px;
	border: 2px solid #3C3C3C;
	}

/* Footer, legal notice*/

.legal {
	float: right;
	}

.inline-icon {
    height: 1.15em;
    vertical-align: top;
    }

.show-button {
    font-family: "Raleway", Geneva, Verdana;
    text-decoration: none;
    padding: 0;
    border: none;
    background: none;
    color: rgb(0,0,153);
    cursor: pointer;
    }

.abstract {
    width: 50%;
    text-align: justify;
    }

button:hover{
	color: rgb(128,0,128);	
}

